version: "3"
services:
  bot:
    build: .
    ports:
      - "9222:9222"
    env_file: .env
    container_name: skadi
    restart: on-failure
    volumes:
      - .:/home/yobot/yobot
    networks:
      - bot_net

  hosbot:
    build: ../HoshinoBot
    ports:
      - "9221:9221"
    container_name: skadi_hoshino
    restart: on-failure
    volumes:
      - ../HoshinoBot:/home/HoshinoBot/HoshinoBot
    networks:
      - bot_net

  mirai:
    image: lqbing/cqhttp-mirai
    restart: always
    env_file: .env
    stdin_open: true
    tty: true
    volumes:
      - ../mirai/config.txt:/workdir/config.txt
      - ../mirai/setting.yml:/workdir/plugins/setting.yml
      - ../mirai/device.json:/workdir/device.json
    networks:
      - bot_net

networks:
  bot_net:
    driver: bridge
