version: '3'
services:
  bot:
    build: .
    env_file: .env
    restart: on-failure
    command: bash -c "
      python3 main.py > /dev/null 2 > /dev/null
      && sh yobotg.sh
      "
    volumes:
    - ./src/client:/code